<span class='user-show-header group'>

  <h2> <%= user.escape('username') %> </h2>
  <img  class='user-thumb' src="" alt="" />
  <p><%= user.escape('followers')%> Followers</p>
  <p><%= user.songs().length %> Songs</p>
  <% if (user.get('id') === EclecticEar.currentUser.get('id')) { %>

  <% } else if (user.get("follow") === true)  { %>
   <button class='unfollow'
           data-id="<%=user.get('id') %>">
           Unfollow
   </button>
 <% } else { %>
   <button class='follow'
           data-id="<%=user.get('id') %>">
           Follow
   </button>
 <% } %>

</span>

<nav class="sub-nav group">
  <h2 class="sub-nav-header showFeed">Feed</h2>
  <h2 class="sub-nav-header showPlaylists">Playlists</h2>
  <h2 class="sub-nav-header showFollowing">Following</h2>
</nav>

<section class="user-content"> </section>
<!--

<span class='user-show-feed'>
  <ul class=" group songs">

  </ul> -->
</span>
