<form class="sign-in-up">
  <label>Song Name</label>
  <input type="text" name="title" value="<%= song.escape('title') %>"><br>
  <% song.taggings().each(function(tagging){ %>
    <div class="tag">
      <div class="remove-tag" data-id="<%=tagging.id %>">
        X
      </div>
      <%= tagging.get('tag') %>
    </div>
  <%  }) %>
  <br>

  <label>Add Tag</label><br>
  <select name="tagging">
    <% tags.each(function(tag){ %>
    <option value="<%= tag.get('title') %>">
      <%= tag.get('title').capitalize %>
    </option>

    <%  }) %>
  </select><br>
  <button>Submit</button>

</form>
