<p><%= EclecticEar.currentUser.get('username') %></p>

<%= song.escape('title') %>

<img class="album-art-large" src="<%= song.get('album_art_url') %>"/>

<form class='edit-form'>
  <label>Title *</label>
  <input type="text" name="title" value="<%= song.escape('title') %>">
  <p>
    Tags
  </p>
  <section class="tags group">
    <% song.taggings().each(function(tagging){ %>
      <div class="remove-tag" data-id="<%= tagging.get('id') %>">
        #<%= tagging.get('tag') %>
      </div>
    <%  }) %>
    <div class="add-tag"></fieldset>

  </section>


  <button class=edit-song>Save Changes</button>
<label>Update Art</label>
<input type="file" name="album_art" id="input-post-album_art">
</form>
