<p class="result-bold"><%= EclecticEar.currentUser.get('username') %></p>

<p class="result-bold">

<%= song.escape('title') %>
</p>

<img class="album-art-large" src="<%= song.get('album_art_url') %>"/>

<form class='edit-form'>
  <label class='form-label' for="title">Title *</label>
  <input class="input" type="text" id="title" name="title" value="<%= song.escape('title') %>">
  <p class='form-label'>
    Tags
  </p>
  <section class="tags group">
    <% song.taggings().each(function(tagging){ %>
      <div class="remove-tag" data-id="<%= tagging.get('id') %>">
        #<%= tagging.get('tag') %>
      </div>
    <%  }) %>
    <div class="add-tag"></fieldset>

  </section>


  <label class='form-label' for="input-post-album_art">Update Art</label>
  <input type="file" name="album_art" id="input-post-album_art">
  <button class="submit-button left">Save Changes</button>
</form>

<button class="delete-button left">Remove Song</button>
