<img class="album-art-thumb" src="<%= song.get('album_art_url') %>" />

<% if (edit) { %>
  <section class="move-and-remove">
    <div class="move">
      
    </div>
    <div class="remove" data-playlist-song-id="<%= song.get('playlist_song_id') %>">
      x
    </div>
  </section>

<% } else { %>
  <div class="small-play-button">
  </div>
<% } %>
<section class="playlist-title-row group">
  <% if (song.get('owner')) { %>
    <a class="playlist-song-owner" href="#/users/<%=song.get('owner').id %>"><%= song.get('owner').username %> - </a>

    <% if(currentUser.get('id') === song.get('owner').id){ %>
      <a class='playlist-song-title' href="#/songs/<%= song.get('id') %>/edit">
         <%= song.escape('title') %>
      </a>
    <%  } else { %>
      <p class='playlist-song-title'> <%= song.escape('title') %></p>
    <%  }%>

  <% } %>

</section>
