<img class="album-art" src='<%= song.get('album_art_url') %>'/>

<div class="play-button">
  <div class="arrow"></div>
</div>

<section class=top-row>

  <a class="result-light left" href="#/users/<%=song.get('owner').id %>"><%= song.get('owner').username %></a>

  <div class="result-bold right">
    <p>
      <%= song.timeSince(Date.parse(song.get('created_at'))) %>
    </p>
  </div>
</section>

<section class=top-row>
  <% if(currentUser.get('id') === song.get('owner').id){ %>
    <a class="result-bold left" href="#/songs/<%= song.get('id') %>/edit">
      <%= song.escape('title') %>
    </a>
  <%  } else { %>
    <p class="result-bold left"><%= song.escape('title') %> </p>
  <%  }%>
</section>

<section class="bottom-row">
  <button class="add-to-playlist left">Add to playlist</button>
</section>

<section class="bottom-row">
  <% tags.forEach(function(tag) { %>
    <p class="tag">
      <%= tag.escape('tag') %>
    </p>
  <% }) %>
</section>
