<img class="album-art" src='<%= song.get('album_art_url') %>'/>

<div class="play-button">
  <div class="arrow"></div>
</div>

<a href="#/users/<%=song.get('owner').id %>"><%= song.get('owner').username %></a>

<div class="time-ago">
  <p>
    <%= song.timeSince(Date.parse(song.get('created_at'))) %>
  </p>
</div>

<% if(currentUser.get('id') === song.get('owner').id){ %>
  <a class='title' href="#/songs/<%= song.get('id') %>/edit">
    <%= song.escape('title') %>
  </a>
<%  } else { %>
  <p class='title'><%= song.escape('title') %> </p>
<%  }%>
<div class="music-player">
  <audio src="" controls>
  </audio>
</div>
<button class="add-to-playlist">Add to playlist</button>
