<!DOCTYPE html>
<html>
<head>
  <title>EclecticEar</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav class="header group">
    <a class="header-logo" href="/#/">EclecticEar</a>
    <a class="header-about" href="/about">About</a>
    <ul class="header-list group">
      <li><a href="/#/upload">Upload</a></li>

      <% if logged_in? %>
      <li><a href="/#/search">Search</a></li>
      <li><a href="/#/users">Users</a></li>
      <li>
        <a href="#/users/<%= current_user.id%>" class="nav-links">
          <%= current_user.username %>
        </a>
      </li>

      <li>
        <form action="<%=session_url%>"
              method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input  type="hidden"
                  name="authenticity_token"
                  value="<%= form_authenticity_token %>">
          <button>Log Out</button>
        </form>
      </li>

      <% else %>
      <li>
        <a class="header-sign-in" href="<%=new_session_url%>">Sign In</a>
      </li>
      <li>or</li>
      <li>
        <a class="header-sign-up" href=" <%= new_user_url %> ">Sign Up</a>
      </li>
      <% end %>
    </ul>
  </nav>

</header>

<main class="content group">
  <%= render "shared/errors" %>
  <%= yield %>
</main>

</body>
</html>
