<!DOCTYPE html>
<html>
<head>
  <title>EclecticEar</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="group">
  <h1 class="logo">EclecticEar</h1>
  <nav>
    <% if logged_in? %>
      <p class="nav-links">
        <%= current_user.username %>
      </p>

      <form class="nav-links"
            action="<%=session_url%>"
            method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input  type="hidden"
                name="authenticity_token"
                value="<%= form_authenticity_token %>">
        <button>Log Out</button>
      </form>
    <% else %>
      <a class="nav-links" href="<%=new_session_url%>">Sign In</a>
      <p class="nav-links">
        or
      </p>
      <a class="nav-links" href=" <%= new_user_url %> ">Sign Up</a>
    <% end %>
  </nav>
</header>

<%= render "shared/errors" %>

<%= yield %>

</body>
</html>
